/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 500;
} */

.loader {
  margin: 35px 35px 35px 35px;
  border: 16px solid #d8d6d6; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
